Repository cse110-sp24-group17/cse110-sp24-group17, pull requests merged in 2024-06, with the labels that each got.

#54 File explorer comments
  __tests__/unit.test.js
  source/main.html
  source/modules/file_explorer/file_explorer.html
  source/modules/file_explorer/file_explorer.js
Labels: documentation, File Explorer

#55 Multiple changes to the pipeline
  .github/workflows/JSDoc-generation.yaml
  .github/workflows/codacy-analysis.yaml
  .github/workflows/main.yml
Labels: CI/CL

#87 Save journal file only on file change
  source/modules/markdown_editor/markdown_editor.js
  source/swipeAnimation.js
Labels: bug, Daily Journal, Markdown Editor

#99 Polished up the delete mode functionality.
  source/assets/trashcanClosed.png
  source/assets/trashcanIcon.png
  source/assets/trashcanOpen.svg
  source/main.css
  source/main.html
  source/modules/file_explorer/file_explorer.js
  source/modules/journal/style.css
Labels: bug, File Explorer

#105 E2E pipeline test
  .github/workflows/main.yml
  __tests__/website.test.js
  jest-puppeteer.config.cjs
  package-lock.json
  package.json
Labels: CI/CD

#106 Merge adjusted pipeline and configs that support jsdom for Unit testing without conflict with E2E
  .babelrc
  .github/workflows/main.yml
  __tests__/E2E/website.test.js
  __tests__/unit/calendar_component.test.js
  __tests__/unit/date_util.test.js
  __tests__/unit/filestore.test.js
  __tests__/unit/mdast.test.js
  __tests__/unit/unit.test.js
  jest.config.E2E.js
  jest.config.unit.js
  package-lock.json
  package.json
Labels: CI/CD
